:host {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 500px;
  height: fit-content;
  margin: 0 auto 2rem auto;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  background-color: var(--background-primary);
  border: 1px solid var(--hover-overlay);
  color: var(--text-primary);
  font-size: 14px;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.search-input::placeholder {
  color: var(--text-secondary);
}

.search-input:focus {
  outline: none;
  border-color: var(--text-primary);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.search-icon-button {
  position: absolute;
  right: 5px;
  color: var(--hover-overlay);
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-icon-button:hover,
.button-sort:hover {
  color: var(--text-primary);
}

.button-sort {
  display: block;
  width: 30px;
  color: var(--hover-overlay);
}

.button-save {
  width: 24px;
  fill: var(--hover-overlay);
}

.button-save:hover {
  fill: var(--text-primary);
}

.rotate {
  transform: rotate(180deg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-primary);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
