<form [formGroup]="form" (submit)="onSubmit()" class="form">
  <input
    type="text"
    name="search"
    formControlName="search"
    placeholder="search anything"
    class="search-input"
    #searchInput
  />
  <button class="search-icon-button" type="submit">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="search-icon"
    >
      <path
        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
        fill="currentColor"
      />
    </svg>
  </button>
</form>
<button
  [class]="{ 'button-sort': true, rotate: order() === 'desc' }"
  (click)="onSort()"
  [title]="'sort movie list - ' + (order() === 'asc' ? 'desc' : 'asc')"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M12 8v10" />
    <path d="M9 17l3 3 3-3" />
  </svg>
</button>
@if(isSaved()) {
<button (click)="onRemoveFilter()" class="button-save" title="remove filter">
  <svg
    width="26px"
    height="26px"
    viewBox="0 0 45 45"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M25 38c-5.1 0-9.7-3-11.8-7.6l1.8-.8c1.8 3.9 5.7 6.4 10 6.4 6.1 0 11-4.9 11-11s-4.9-11-11-11c-4.6 0-8.5 2.8-10.1 7.3l-1.9-.7c1.9-5.2 6.6-8.6 12-8.6 7.2 0 13 5.8 13 13s-5.8 13-13 13z"
    />
    <path d="M20 22h-8v-8h2v6h6z" />
  </svg>
</button>
} @else {
<button (click)="onSaveFilter()" class="button-save" title="save filter">
  <svg
    width="26px"
    height="26px"
    id="Layer_1"
    version="1.1"
    viewBox="0 0 30 30"
    xml:space="preserve"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path
      d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z"
    />
    <rect height="5" width="2" x="16" y="4" />
  </svg>
</button>
}
