<section>
  <app-card-grid>
    <app-movie-card id="1234">
      <app-card
        [data]="{
          title: 'Lorem ipsum dolor sit amet',
          description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus id esse veritatis rem deleniti architecto consectetur laboriosam? Quasi eveniet corrupti quas harum ad eius sint iusto aperiam laboriosam in.',
          imageUrl:
            'https://image.tmdb.org/t/p/original/djRAvxyvvN2yqlJKDbT3uy4vOBw.jpg'
        }"
      />
    </app-movie-card>
    <app-card
      [data]="{
        title: 'Lorem ipsum dolor sit amet',
        description:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus id esse veritatis rem deleniti architecto consectetur laboriosam? Quasi eveniet corrupti quas harum ad eius sint iusto aperiam laboriosam in.',
        imageUrl:
          'https://image.tmdb.org/t/p/original/djRAvxyvvN2yqlJKDbT3uy4vOBw.jpg'
      }"
    />
    <app-card
      [data]="{
        title: 'Lorem ipsum dolor sit amet',
        description:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus id esse veritatis rem deleniti architecto consectetur laboriosam? Quasi eveniet corrupti quas harum ad eius sint iusto aperiam laboriosam in.',
        imageUrl:
          'https://image.tmdb.org/t/p/original/djRAvxyvvN2yqlJKDbT3uy4vOBw.jpg'
      }"
    />
    <app-card
      [data]="{
        title: 'Lorem ipsum dolor sit amet',
        description:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus id esse veritatis rem deleniti architecto consectetur laboriosam? Quasi eveniet corrupti quas harum ad eius sint iusto aperiam laboriosam in.',
        imageUrl:
          'https://image.tmdb.org/t/p/original/djRAvxyvvN2yqlJKDbT3uy4vOBw.jpg'
      }"
    />
    <app-card
      [data]="{
        title: 'Lorem ipsum dolor sit amet',
        description:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus id esse veritatis rem deleniti architecto consectetur laboriosam? Quasi eveniet corrupti quas harum ad eius sint iusto aperiam laboriosam in.',
        imageUrl:
          'https://image.tmdb.org/t/p/original/djRAvxyvvN2yqlJKDbT3uy4vOBw.jpg'
      }"
    />
  </app-card-grid>
</section>
